**/.idea
Builds
GGJ2025_Unity/Assets/Fonts/Gabarito/Gabarito-Medium SDF.asset
GGJ2025_Unity/Assets/Fonts/Gabarito/Gabarito-Black SDF.asset
GGJ2025_Unity/Assets/Fonts/Gabarito/Gabarito-SemiBold SDF.asset
GGJ2025_Unity/Assets/Fonts/Gabarito/Gabarito-Medium SDF.asset
GGJ2025_Unity/Assets/Fonts/Gabarito/Gabarito-Black SDF.asset
GGJ2025_Unity/Assets/Fonts/DelaGothicOne-Regular SDF.asset
GGJ2025_Unity/Assets/Fonts/DelaGothicOne-Regular SDF.asset
GGJ2025_Unity/Assets/Fonts/Gabarito/Gabarito-Black SDF.asset
GGJ2025_Unity/Assets/Fonts/Gabarito/Gabarito-Medium SDF.asset
GGJ2025_Unity/Assets/Fonts/Gabarito/Gabarito-SemiBold SDF.asset
